body{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	background-color: coral;
}
header{
	background-color: #610B0B;
	height: 50px;
}
header .link{
	text-decoration: none;
	color: whitesmoke;
	padding: 10px 40px;
	display: inline-block;
}
.image{
	width: 180px;
	height: 180px;
	border: 2px solid pink;
	padding: 10px;
	margin: 45px;
	display: inline-block;
	position: relative;
}
span{
	position: relative;
		left: -84px;
		top: -214px;
		z-index: 2;
		color: red;
		font-weight: bolder;
		cursor: pointer;
}
.botones{
	text-align: center;
}
.botones input{
	background-color: #610B0B;
	color: whitesmoke;
	border:none;
	width: 300px;
	height: 20px;
	cursor: pointer;
}
.content p{
	display: inline-block;
	width: 30%;
	padding: 50px;
	text-align: justify;

}
.content{
	text-align: center;
}
section .on, section .off{
	display: none;
	
}
